{% extends 'layout.html' %}

{% block body %}

<div style="text-align: center;">
  <h1>{{title}}</h1>

  <h4>Este é um dicionário de termos médicos que inclui 3 línguas: português, inglês e espanhol.</h4> 
  <h4>Alguns termos contêm ainda a descrição/designação associada.</h4>

  <h4>This is a dictionary of medical terms that includes 3 languages: portuguese, english and spanish.</h4>
  <h4>Some terms also contain the associated description/designation.</h4>

  <h4>Este es un diccionario de términos médicos que incluye 3 idiomas: portugués, inglés y español.</h4>
  <h4>Algunos términos también contienen la descripción/designación asociada.</h4>

  <p>Com a contínua evolução e a complexidade dos termos da área da saúde, estudantes, enfermeiros, técnicos de enfermagem e outros profissionais da área precisam de uma obra de referência rápida, disponível, compacta e completa. Com o objetivo de esclarecer e simplificar a linguagem das ciências da saúde, elaboramos o Dicionário de Termos Médicos e de Enfermagem. Além da explicação de milhares de termos, este dicionário inclui uma introdução sobre alimentação, hábitos saudáveis e outros tópicos importantes para profissionais que valorizam a qualidade de vida e investem na excelência do seu trabalho.</p>

  <p>Conteúdo dos Dicionários Médicos © Copyright – todos os direitos reservados:
    <a href="http://www.editorarideel.com.br/">Editora Rideel</a>
  </p>

</div>

{% endblock %}
